<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="UTF-8">
<title>Nuevo Veterinario</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
rel="stylesheet">

<style>

body{
background:#eef2f7;
font-family:Arial,sans-serif;
}

.card{
margin-top:40px;
padding:30px;
border:none;
border-radius:20px;
box-shadow:0 5px 15px rgba(0,0,0,.08);
}

</style>

</head>

<body>

<div class="container">

<div class="card">

<h3>
👨‍⚕️ Nuevo Veterinario
</h3>

<form th:action="@{/guardar-veterinario}"
method="post"
th:object="${veterinario}">

<input type="hidden"
th:field="*{idVeterinario}">

<div class="row">

<div class="col-md-6 mb-3">

<label>Nombres</label>

<input type="text"
class="form-control"
th:field="*{nombres}">

</div>

<div class="col-md-6 mb-3">

<label>Especialidad</label>

<select class="form-control"
th:field="*{especialidad}">

<option value="Cirugía">Cirugía</option>
<option value="Dermatología">Dermatología</option>
<option value="Medicina General">Medicina General</option>

</select>

</div>

<div class="col-md-6 mb-3">

<label>Correo</label>

<input type="email"
class="form-control"
th:field="*{correo}">

</div>

<div class="col-md-6 mb-3">

<label>Teléfono</label>

<input type="text"
class="form-control"
th:field="*{telefono}">

</div>

<div class="col-md-12 mb-3">

<label>Estado</label>

<select class="form-control"
th:field="*{estado}">

<option value="Activo">Activo</option>
<option value="Inactivo">Inactivo</option>

</select>

</div>

</div>

<button class="btn btn-success">

Guardar

</button>

<a href="/vista/veterinarios"
class="btn btn-secondary">

Volver

</a>

</form>

</div>

</div>

</body>
</html>